.landing-page-posters {
  transition: transform 350ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.landing-page-posters:hover {
  transform: scale(1.1);

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.gfont {
  font-family: 'Roboto',
  sans-serif;
  font-size: 16px;
  font-weight: bold;
  
}